JAVA/ClienteJava/src/conf/xml-resources/web-service-references/WSOperaciones/wsdl/localhost_8080/ServicioWeb_SOAP/WSOperaciones.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="ProcesarPago" type="tns:ProcesarPago"/>

<xs:element name="ProcesarPagoResponse" type="tns:ProcesarPagoResponse"/>

<xs:element name="login" type="tns:login"/>

<xs:element name="loginResponse" type="tns:loginResponse"/>

<xs:complexType name="ProcesarPago">
<xs:sequence>
<xs:element name="total" type="xs:int"/>
<xs:element name="pago" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ProcesarPagoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
<xs:element name="contrasena" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>